// Colors
$color-white: #ffffff;
$color-offwhite: #f8f8f8;
$color-blue: #3163cf;
$color-light-grey: #cbcac6;
$color-medium-grey: #868686;
$color-dark-grey: #5d5d5d;

// Fonts
$font-family-base: system-ui, 'Segoe UI', Helvetica, Arial, sans-serif;

// Borders
$default-border-radius: 8px;
$default-border: 2px solid $color-light-grey;
