@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.button {
  @include focus-visible();

  background-color: $color-blue;
  border: 1px solid $color-blue;
  box-shadow: 0px 2px 0px $color-dark;
  border-radius: $border-radius-default;
  color: $color-white;
  padding: 15px 0;
  width: 100%;
  cursor: pointer;

  font-size: 28px;
  letter-spacing: 1.8px;

  &:hover,
  &:focus {
    background-color: $color-blue-light;
    box-shadow: 0px 2px 0px $color-blue;
  }
}
