@use '../styles/variables' as *;

.container {
  background-color: $color-offwhite;
  border-radius: $default-border-radius;
  border: $default-border;
  display: flex;
  flex-direction: column;
  max-width: 595px;
  padding: 35px 50px;
  width: 1000%;

  .title {
    color: $color-dark-grey;
    font-size: 30px;
  }
}
