@use '../styles/variables' as *;

.container {
  background-color: $color-offwhite;
  border-radius: $border-radius-default;
  border: $border-default;
  display: flex;
  flex-direction: column;
  max-width: 595px;
  width: 400px;
  padding: 15px 15px;

  @media (min-width: $breakpoint-sm) {
    padding: 20px 25px;
    width: 490px;
  }

  @media (min-width: $breakpoint-md) {
    padding: 35px 50px;
    width: 550px;
  }

  .title {
    color: $color-grey-dark;
    font-size: 30px;

    @media (min-width: $breakpoint-sm) {
      font-size: 24px;
    }
  }
}
